<div class="playing-panel">
  <div class="playing-panel-top">
    <svg-icon iconClass="random"
              className="random" />
    <svg-icon iconClass="previous"
              className="previous" />
    <span>
      <svg-icon iconClass="play"
                className="play" />
    </span>
    <svg-icon iconClass="next"
              className="next" />
    <svg-icon iconClass="cycle"
              className="cycle" />
  </div>
  <div class="playing-panel-bottom">
    00:20
    <div class="progress-bar" />
    03:13
  </div>
</div>
