<div class="payment-panel">
  <h2>選擇付款方式</h2>
  <div class="payment-container">
    <div class="payment-item">
      <router-link class="link" to="PayByCard" active-class="--active">
        <svg-icon iconClass="icon_PayByCard" />
        信用卡付款
      </router-link>
    </div>
    <div class="payment-item">
      <router-link class="link" to="PayByATM" active-class="--active">
        <svg-icon iconClass="icon_PayByATM" />
        WebATM付款
      </router-link>
    </div>
    <div class="payment-item">
      <router-link class="link" to="PayByShop" active-class="--active">
        <svg-icon iconClass="icon_PayByShop" />
        超商代碼付款
      </router-link>
    </div>
  </div>
</div>
