<div class="banner-container">
  <div class="banner-list">
    <div class="banner-item banner-item1"></div>
    <div class="banner-item banner-item2"></div>
    <div class="banner-item banner-item3"></div>
    <div class="banner-item banner-item4"></div>
  </div>
  <div class="top-feature">
    <div>
      <svg-icon iconClass="arrow-left"></svg-icon>
      <svg-icon iconClass="arrow-right"></svg-icon>
    </div>
    <div class="search-input">
      <input type="text" placeholder="Search" />
      <svg-icon iconClass="search"></svg-icon>
    </div>
  </div>
  <div class="bottom-feature">
    <div class="singer-name">{{ singerName }}</div>
    <div class="follow">
      <div class="follow-amount">Follower {{ followAmount }}</div>
      <button class="follow-button">Follow</button>
    </div>
  </div>
</div>
