@bg-primary: #FFEDF7;
@bg-break-primary: #E5F3FF;
@bg-secondary: #003164;

//text
@text-primary: #FF4384;
@text-break-primary: #00A7FF;

@text-secondary: #003164;

* {
  box-sizing: border-box;
  outline: none;
}
