<div class="play-item" @click="playSong">
  <div class="song-info">
    {{ songIndex }}
    <div
       @mouseover="isHeartHover = true"
       @mouseleave="isHeartHover = false"
       @click.self="addFavorite(songName)">
      <svg-icon className="heart"
                :iconClass="heartToggle" />
    </div>
    <p class="song-name">
      {{ songName }}
    </p>
  </div>
  <div class="song-feature">
    <span>
      <svg-icon iconClass="play"
                className="play" />
    </span>
    <svg-icon iconClass="more"
              className="more" />
    {{ songTime }}
  </div>
</div>
