<div
  class="circle"
  :class="{
      'circle--work': isWorking,
      'circle--play': isPlaying,
      'circle--md': size === 'md',
      'circle--sm': size === 'sm'
    }"
  @click="onClick"
>
  <div class="circle-bg" ref="bg">
    <svg-icon :iconClass="toggleIcon" />
  </div>
  <svg
    class="circle-svg"
    preserveAspectRatio="xMidYMid meet"
    :viewBox="`0 0 ${circleDiameter} ${circleDiameter}`"
    ref="svg"
  >
    <circle
      class="circle-svg-circle"
      cx="50%"
      cy="50%"
      :r="circleRadius"
      ref="circle"
    ></circle>
  </svg>
</div>
