<div class="game-container">
  <head>
    <div class="blank"></div>
    <div>
      <svg-icon iconClass="btn-more"
                :iconWidth="40"
                :iconHeight="40" />
                Time 00:00
      <svg-icon iconClass="btn-return"
                :iconWidth="40"
                :iconHeight="40" />
    </div>
    <div>
      <svg-icon iconClass="bone"
                :iconWidth="40"
                :iconHeight="40" />
      Score:00
    </div>
  </head>
  <main>
    <CardSlot :slotData="{id:'c-1'}" />
  </main>
</div>
