<div class="left-nav">
  <router-link class="router-link shared-transformation"
               to="TodoListFolder"
               active-class="--active">
    <svg-icon iconClass="todo-list" /> to-do list
  </router-link>
  <router-link class="router-link shared-transformation"
               to="Analytics"
               active-class="--active">
    <svg-icon iconClass="analytics" /> analytics
  </router-link>
  <router-link class="router-link shared-transformation"
               to="Ringtones"
               active-class="--active">
    <svg-icon iconClass="ringtone" /> ringtones
  </router-link>
</div>
