<div class="main">
  <div class="mission-information-panel">
    <AddMission />
    <MissionList />
  </div>
  <div ref='countdownClock' class="mission-countdown-time-panel">
    <CountdownClock :width="width"
                    :setTimer='25 * 60 * 1000' />
  </div>

  <div class="panel-right">
    <router-link class="router-link shared-transformation" to="Analytics">
      <svg-icon iconClass="todo-list" />
    </router-link>
    <router-link class="router-link shared-transformation" to="TodoListFolder">
      <svg-icon iconClass="analytics" />
    </router-link>
    <router-link class="router-link shared-transformation" to="Ringtones">
      <svg-icon iconClass="ringtone" />
    </router-link>
    <p>
      POMODORO
    </p>
  </div>
</div>
