<div class="main">
  <div class="mission-information-panel">
    <AddMission />
    <MissionList />
  </div>

  <div class="panel-right">
    <div ref='countdownClock'
        class="mission-countdown-time-panel">
      <CountdownClock v-if="!isMobile"
                      :value="percentage"
                      :diameter="isLarge ? 540 : 380" />
    </div>
    <router-link class="router-link shared-transformation" to="Analytics">
      <svg-icon iconClass="todo-list" />
    </router-link>
    <router-link class="router-link shared-transformation" to="TodoListFolder">
      <svg-icon iconClass="analytics" />
    </router-link>
    <router-link class="router-link shared-transformation" to="Ringtones">
      <svg-icon iconClass="ringtone" />
    </router-link>
    <p>
      POMODORO
    </p>
  </div>
</div>
